<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:include="/fragments/main-header"></div>
<body>
	<div th:include="/fragments/main-menu"></div>

		<div class="bg-light py-3">
			<div class="container">
				<div class="row">
					<div class="col-md-12 mb-0">
						<a th:href="@{/}">Home</a> <span class="mx-2 mb-0">/</span> <strong
							class="text-black">Thank You</strong>
					</div>
				</div>
			</div>
		</div>

		<div class="site-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<span class="icon-check_circle display-3 text-success"></span>
						<h2 class="display-3 text-black">Thank you!</h2>
						<p class="lead mb-5">
							Thank you for contacting us!</br> We will respond to your prompt as soon as possible</p>
						<p>
							<a th:href="@{/}"
								class="btn btn-sm height-auto px-4 py-3 btn-primary">Back to
								shop</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div th:include="/fragments/main-footer"></div>
	</div>
</body>
</html>